<div *ngIf="card">
  <h2>{{card.name | uppercase}} Details</h2>
  <div><span>id: </span>{{card.id}}</div>
  <div>
    <label>name:
      <h1>{{card.name}}</h1>
    </label>
  </div>
  <div>
    <img src="{{card.imageUrlHiRes}}">
  </div>
  <div>
    <li *ngFor="let type of card.types">
      <label>{{type}}</label>
    </li>
    <li *ngFor="let attack of card.attacks">
      <span>{{attack.cost}} </span>
      <span>{{attack.name}} {{attack.damage}}</span>
      <span>{{attack.text}}</span>
    </li>
    <li *ngFor="let resistance of card.resistances">
      <label>{{resistance.type}} {{resistance.value}}</label>
    </li>
    <li *ngFor="let weakness of card.weaknesses">
      <label>{{weakness.type}} {{weakness.value}}</label>
    </li>
  </div>
  <button (click)="goBack()">go back</button>
</div>